<template>
    <v-container class="fill-height" fluid >
        <v-row  align="center" justify="center">
            <v-col cols="12" sm="8" md="4" >
                <v-card class="elevation-12">
                    <v-toolbar color="red" dark flat >
                        <v-toolbar-title>{{ title }}</v-toolbar-title>
                        <v-spacer />
                        <v-tooltip bottom >
                            <span>Source</span>
                        </v-tooltip>
                    </v-toolbar>
                    <slot></slot>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>

    module.exports = {
        name: 'CenteredBox',
        props: {
            title: {
                type: String,
                default: 'default title'
            }
        }
    }


</script>
