<template>
    <v-app>
        <v-system-bar
        color="cyan">
            <v-icon>mdi-gmail</v-icon>
            <span>10 unread emails</span>
            <v-spacer></v-spacer>
            <v-icon>mdi-wifi-strength-4</v-icon>
            <v-icon>mdi-signal-cellular-outline</v-icon>
            <v-icon>mdi-battery</v-icon>
            <span>12:30</span>
        </v-system-bar>

        <v-content>
            <MessageComponent class="my-message"/>
            <MessageComponent />
            <MessageComponent />
            <MessageComponent />
            <MessageComponent />

        </v-content>

    </v-app>
</template>
<script>
import MessageComponent from './Message'
export default {
    name: 'ChatComponent',
    components: {
        MessageComponent
    }
}
</script>

<style scoped>
    .my-message {
        border: 40px;
    }
</style>
