<template>
    <div class="message">
        Message
    </div>


</template>


<script>
export default {
    name: 'MessageComponent'
}


</script>

<style scoped>
.message {
    background-color: red;
    border-left: 20px;
}
</style>
