<template>

</template>

<script>

    /*
        human Resources
            -> List members v
                -> detailed view
                    - Person info + profile pic ?
                    - contact address, phone, mail
                    - scholar history
                    - position history
                    - badges (updated documents, active)
            -> Create new   x
                ->
            -> Details
                -> edit
                -> attach UserAccount
                -> add scholar curses
                -> add position
   */

</script>
