<template>
    <v-content style="margin: 10px">
        <v-row>
            <v-col>
                <v-sheet height="600px">
                    <v-calendar
                            ref="calendar"
                            :now="today"
                            :value="today"
                            :events="events"
                            color="primary"
                            type="week"
                    ></v-calendar>
                </v-sheet>
            </v-col>
        </v-row>
    </v-content>

</template>

<script>
    import ical from 'ical'
    import axios from 'axios'

    export default {
        name: 'PlanningComponent',
        data: () => ({
            today: '2019-01-08',
            events: [
                {
                    name: 'Weekly Meeting',
                    start: '2019-01-07 09:00',
                    end: '2019-01-07 10:00',
                },
                {
                    name: 'Thomas\' Birthday',
                    start: '2019-01-10',
                },
                {
                    name: 'Mash Potatoes',
                    start: '2019-01-09 12:30',
                    end: '2019-01-09 15:30',
                },
            ],
        }),
        mounted () {
            this.$refs.calendar.scrollToTime('08:00')

            const url = 'http://edt.insa-cvl.fr/Telechargements/ical/Edt_PINEDA.ics?version=2019.0.5.0&idICal=C55BCA7FCF16D90E2CA3D27B24A5FFD5&param=643d5b31395d2666683d3126663d31'
            axios.get(url)
                .then(file=>{
                    console.log(file)

                    var data = ical.parseICS(file.data);


                    console.log(data)
                    data.forEach(ev=>{
                        console.log(ev.description.val);
                    })


                    console.log(data);
            })
            .catch(err=>{console.error(err)})



        },
    }
</script>

<style scoped>
    .my-event {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 2px;
        background-color: #1867c0;
        color: #ffffff;
        border: 1px solid #1867c0;
        font-size: 12px;
        padding: 3px;
        cursor: pointer;
        margin-bottom: 1px;
        left: 4px;
        margin-right: 8px;
        position: relative;
    }

    .my-event.with-time {
        position: absolute;
        right: 4px;
        margin-right: 0px;
    }
</style>
