<template>
    <div class="full-space">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "DocumentApp"
    }
</script>

<style>
.full-space {
    padding: 5px;

    background-color: azure;

}
</style>


