<template>

    <v-row
           justify="space-between"

    >
        <v-col  >
            <v-card >
                <v-app-bar>
                    Documents
                </v-app-bar>

                <v-card-text >
                        <v-list dense>
                            <v-list-item-group
                                    v-model="selected"
                            >
                            <template v-for="item in items">
                                <v-list-item :key="item.title" link>
                                    {{ item.id }}# {{ item.first_name }} {{ item.surname }}
                                </v-list-item>

                            </template>
                            </v-list-item-group>

                        </v-list>

                    <h1>Documents will come here</h1>

               </v-card-text>

                <v-btn class="red white--text" @click="display_details">display</v-btn>
                <v-btn class="blue white--text" @click="create">create</v-btn>

                <CreateMemberDialog></CreateMemberDialog>


            </v-card>

        </v-col>

        <v-divider vertical></v-divider>

        <v-col
                v-if="selected>=0"
                class="d-none d-md-inline-flex"
                cols="4"
        >
            <v-scroll-y-transition mode="out-in">
                <div
                        v-if="!selected_document"
                        class="title grey--text text--lighten-1 font-weight-light"
                        style="align-self: center;"
                >
                    Select a Document

                </div>
                <v-card
                        v-else
                        :key="selected_document.member_id"
                        flat
                        width="100%"
                >
                    <v-card-title>Details on #{{ selected_document.member_id }}</v-card-title>
                    <v-card-text>
                        <v-avatar
                                v-if="selected_document.avatar"
                                size="88"
                        >
                            <v-img
                                    :src="`https://avataaars.io/${selected_document.avatar}`"
                                    class="mb-6"
                            ></v-img>
                        </v-avatar>
                        <h3 class="headline mb-2">
                            <v-icon v-if="selected_document.gender==='F'">mdi-gender-female</v-icon>
                            <v-icon v-else-if="selected_document.gender==='M'">mdi-gender-male</v-icon>
                            {{ selected_document.first_name }} {{ selected_document.surname  }}
                        </h3>
                        <div class="blue--text mb-2">{{ selected_document.email }}</div>
                        <div v-if="selected_document.account" class="blue--text mb-1">Account: {{ selected_document.account.user.username }}</div>

                    </v-card-text>
                    <v-divider></v-divider>
                    <v-row
                            class="text-left"
                            tag="v-card-text"
                    >
                        <v-col class="text-right mr-4 mb-2" tag="strong" cols="5"><v-icon>mdi-phone</v-icon></v-col>
                        <v-col><a :href="'tel:'+selected_document.phone_number">{{ selected_document.phone_number }}</a></v-col>

                    </v-row>
                    <v-divider></v-divider>
                    <v-row
                        class="text-left"
                        tag="v-card-text"
                        v-if="selected_document.address"
                    >
                        <v-col class="text-right mr-4 mb-2" tag="strong" cols="5">Country</v-col>
                        <v-col>{{ selected_document.address.country }}</v-col>
                        <v-col class="text-right mr-4 mb-2" tag="strong" cols="5">Address</v-col>
                        <v-col>
                            <ul>{{ selected_document.address.address }}</ul>
                            <ul>{{ selected_document.address.zipCode }} - {{ selected_document.address.city }}</ul>

                        </v-col>
                    </v-row>
                    <VcardComponent :contact="selected_document"></VcardComponent>

                </v-card>
            </v-scroll-y-transition>
        </v-col>


    </v-row>






</template>

<script>
import RhService from '../../../services/apps/rh.service'
import CreateMemberDialog from "./CreateMember";
import VcardComponent from "../../templates/block/VcardComponent";

    export default {
        name: 'DocumentIndexPage',
        components: {VcardComponent, CreateMemberDialog},
        data() {
            return {
                items: [
                    { title: 'Dashboard', icon: 'mdi-monitor-dashboard' },
                    { title: 'RH', icon: 'mdi-account-group-outline' },
                    { title: 'Documents', icon: 'mdi-file-multiple' },
                    { title: 'Taches', icon: 'mdi-calendar-check' },
                    { divider: true, inset: false },
                    { title: 'Mon compte', icon: 'mdi-account' },
                ],
                mini: true,
                selected: -1


            }
        },
        mounted() {
            RhService.getMemberList().then(res=> this.items = res.data)
        },
        methods:{
            display_details() {
                this.selected *= -1;
            },
            create() {
                RhService.createMember({
                    first_name: "Guillaume",
                    surname: "Pineda",
                    gender: "M"
                })
                .then(res=>{
                    console.log(res)
                })
            }

        },
        computed: {
            selected_document () {
                if (this.selected<0) return undefined

                const pos = this.selected;



                return this.items[pos]
            },
        }
    }

</script>
<style >
    .my-v-card {
        height: calc(100vh - 142px);
        align-items: stretch;
        overflow-y: scroll;

    }




</style>
